table {
    text-transform: uppercase;
}

.vote-name {
    font-size: 1em;
    font-weight: bolder;
}

.inp-radio {
    height: 2em;
    width: 2em;
}

.vote-icon {
    width: 9em;
}

.sbt:active {
    background-color: red;
    color: white;
}
.sbt:hover {
    background-color: red;
    color: white;
}
.sbt{
    background-color: green;
    border: 2px solid black;
    border-radius: 13px;
    height: 4em;
    width: 7em;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.clicked-button {
    background-color: rgb(255, 0, 0); /* Change this to the desired color */
    border-color: rgb(255, 4, 4); /* Change border color if needed */
    color: white; /* Change text color if needed */
    height: 6em;
    
}
.start-btn{
    width: 10em;
    font-weight: bolder;
    animation: fade;
    animation-duration: 1s;
    animation-iteration-count: infinite;   
}

@keyframes fade{
    /* from{opacity:0.0 ;}
    to{opacity: 1;} */
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}

.usr-txt{
    font-family: "Noto Sans Malayalam", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
      font-style: italic;

}

.vote-head{
    font-family: "Bebas Neue", sans-serif;
    font-weight: bolder;
    font-size: 3em;
    font-style: normal;
}